<h1>
  <a href="/<%= @restaurant.slug %>"><%= @restaurant.name %>: </a>
  <%= @menu_item.name %>
</h1>

<h3>Average Rating: <%= @menu_item.reviews.average(:rating) %></h3>
<a href="/<%= @menu_item.restaurant.slug %>/menu_items/<%= @menu_item.id %>/reviews/new">Add New Review</a><br>

<h3>Reviews</h3>
<% @menu_item.reviews.each do |review| %>
  <div class="review">
    <i><%= review.user.name %></i>
    <a href="/<%= @restaurant.slug %>/menu_items/<%= @menu_item.id %>/reviews/<%= review.id %>">
      <strong>rating: <%= review.rating %> / 10</strong>
      <p><%= review.comment %></p>
    </a>
  </div>
<% end %>
