<h2><%= @menu_item.name %></h2>
<h3><%= @menu_item.restaurant.name %></h3>
<a href="/<%= @menu_item.restaurant.slug %>/menu_items/<%= @menu_item.id %>/reviews/new">Add New Review</a>
<% @menu_item.reviews.each do |review| %>
  <div class="review">
    <i><%= review.user.name %></i>
    <strong>rating: <%= review.rating %> / 10</strong>
    <p><%= review.comment %></p>
  </div>
<% end %>
 
