<h1>
  <a href="/<%= @restaurant.slug %>"><%= @restaurant.name %>: </a>
  <%= @menu_item.name %>
</h1>

<h3>Aerage Rating: <%= "TODO" %></h3>
<a href="/<%= @menu_item.restaurant.slug %>/menu_items/<%= @menu_item.id %>/reviews/new">Add New Review</a><br>
<% @menu_item.reviews.each do |review| %>
  <div class="review">
    <i><%= review.user.name %></i>
    <strong>rating: <%= review.rating %> / 10</strong>
    <p><%= review.comment %></p>
  </div>
<% end %>
