<h1><%= @restaurant.name %></h1>
<% @restaurant.menu_items.each do |menu_item| %>
  <a href="/menu_items/<%= menu_item.id %>"><%= menu_item.name %></a>
  <i> Average Rating: <%= "TODO" %> </i>
  <a href="/<%= @restaurant.slug %>/menu_items/<%= menu_item.id %>"><%= menu_item.name %></a>
<% end %>

<% if Helpers.logged_in?(session) %>
  <form action="/<%= @restaurant.slug %>/menu_items" method="post">
    <label for="new_menu_item_name">New Menu Item: </label>
    <input id="new_menu_item_name" type="text" name="name" placeholder="Menu Item Name">
    <input type="submit" value="Add New Menu Item">
  </form>
<% end %>
