<strong><a href="/<%= @restaurant.slug %>"><%= @restaurant.name %>: </a></strong>
<strong><a href="/<%= @restaurant.slug %>/menu_items/<%= @menu_item.id %>"><%= @menu_item.name %></a></strong>

<div class="review">
  <i><%= @review.user.name %></i>
  <strong>rating: <%= @review.rating %> / 10</strong>
  <p><%= @review.comment %></p>
</div>

<% if @user == Helpers.current_user(session) %>
  <a href="/<%= @restaurant.slug %>/menu_items/<%= @menu_item.id %>/reviews/<%= @review.id %>/edit">Edit Review</a>
<% end %>
